---
title: Idiosyncratic Ruby - All Posts
---

<div class="world">
  <section class="post-header">
    <a href="/index/" class="post-logo"><img src="/images/idiosyncratic.png" alt="Idiosyncratic Ruby"></a>
    <h1 class="post-heading" id="top"><a href="/index/">Idiosyncratic Ruby</a></h1>
  </section>

  <section class="index-articles">
    <% page_articles.sort_by{ |a| a.path.to_i }.reverse_each.with_index do |article, index| %>
      <article>
        <h2><%= index + 1 %> | <%= article.title %></h2>
        <%= article.summary %>
        <%= link_to "READ", article %>
      </article>
    <% end %>
  </section>

  <footer>
    <div class="footer-right">
      By <a href="http://janlelis.com">Jan Lelis</a>
    </div>
    <a href="https://twitter.com/idiosyncraticrb">Twitter</a> |
    <a href="https://github.com/janlelis/idiosyncratic-ruby.com">GitHub</a> |
    Last Update: <%= ( Date.parse(`git log -1 --format=%cd`) ).strftime("%Y-%m-%d") %>
  </footer>
</div>
