---
title: Idiosyncratic Ruby - All Posts
---

<div class="world">
  <section class="post-header">
    <a href="/index/" class="post-logo"><img src="/images/idiosyncratic.png" alt="Idiosyncratic Ruby" /></a>
    <h1 class="post-heading" id="top"><a href="/index/">Idiosyncratic Ruby</a></h1>
  </section>

  <section class="index-articles">
    <% page_articles.sort_by{ |a| a.path.to_i }.each do |article| %>
      <article>
        <h2><a href="/<%= article.path[/\d+/].to_i %>-<%= article.slug %>.html"><%= article.path[/\d+/].to_i %> | <%= article.title %></a></h2>
        <%= article.summary %>
        <%= link_to "READ", article %>
      </article>
    <% end %>
  </section>

  <footer>
    <div class="footer-right">
      By <a href="http://janlelis.com">Jan Lelis</a>
    </div>

    <a href="https://feeds.feedburner.com/IdiosyncraticRuby">Feed</a> |
    <a href="https://twitter.com/idiosyncraticrb">Twitter</a> |
    <a href="https://github.com/janlelis/idiosyncratic-ruby.com">GitHub</a> |
    Last Update: <%= ( Date.parse(`git log -1 --format=%cd`) ).strftime("%Y-%m-%d") %>
  </footer>
</div>
