---
title: Idiosyncratic Ruby (All Posts)
---

<div class="world">
  <section class="post-header">
    <a href="/" class="post-logo"><img src="/images/idiosyncratic.png" alt="Idiosyncratic Ruby" /></a>
    <h1 class="post-heading" id="top"><a href="/index/">Idiosyncratic Ruby</a></h1>
  </section>

  <section class="index-articles">
    <p><a href="/categories/">Browse by Category</a></p>

    <% page_articles.sort_by{ |a| a.path.to_i }.each do |article| %>
      <article>
        <h2><a href="/<%= article.path[/\d+/].to_i %>-<%= article.slug %>.html"><%= article.path[/\d+/].to_i %> | <%= article.title %></a></h2>
        <%= article.summary %>
        <%= link_to "READ", article %>
      </article>
    <% end %>


    <%= partial 'layouts/social_footer' %>
  </section>

  <footer>
    <div class="footer-right">
      On <a href="/">Idiosyncratic Ruby</a> by <a href="https://github.com/janlelis">Jan Lelis</a><br>
      <a href="https://janlelis.com/data-protection.html">Data Protection</a>
    </div>
  </footer>
</div>

<a href="https://github.com/janlelis/idiosyncratic-ruby.com/tree/master/source/posts/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/forkme.png" alt="Fork me on GitHub"></a>