<!doctype html>
<html>
  <head>
    <title>Idiosyncratic Ruby<%= " - #{current_article.title}" %></title>
    <%= partial 'layouts/head' %>
  </head>

  <body>
    <div class="world">
      <section>
        <a href="/index/" class="post-logo"><img src="/images/idiosyncratic.png" alt="Idiosyncratic Ruby"></a>
        <h1 id="top"><a href="#top"><%= current_article.title %></a></h1>
      </section>

      <article class="post">
        <%= yield %>
      </article>

      <footer>
        <div class="footer-right">
          By <a href="http://janlelis.com">Jan Lelis</a>
        </div>
        <a href="https://github.com/janlelis/idiosyncratic-ruby.com/commit/<%= current_article.data.commit %>#all_commit_comments">Comments on GitHub</a> |
        Created: <%= current_article.date.strftime("%Y-%m-%d") %> |
        Last Update: <%= ( Date.parse(`git log -1 --format=%cd`) rescue current_article.date ).strftime("%Y-%m-%d") %>
      </footer>
    </div>
    <%= javascript_include_tag "rainbow-custom.min" %>
  </body>
</html>