<!doctype html>
<html>
  <head>
    <title>Idiosyncratic Ruby<%= ": #{current_article.title}" %></title>
    <%= partial 'layouts/head' %>
  </head>

  <body>
    <div class="world">
      <section class="post-header">
        <a href="/" class="post-logo"><img src="/images/idiosyncratic.png" alt="Idiosyncratic Ruby"></a>
        <h1 class="post-heading" id="top"><a href="/<%= current_article.path[/\d+/].to_i %>-<%= current_article.slug %>.html"><%= current_article.title %></a></h1>
      </section>

      <article class="post">
        <%= yield %>

        <h2>More Idiosyncratic Ruby</h2>
        <ul>
          <li><a href="https://github.com/janlelis/idiosyncratic-ruby.com/commit/<%= current_article.data.commit %>#all_commit_comments">Please Comment on GitHub</a></li>
          <% if next_article = page_articles.find{ |a| a.path[/\d+/].to_i == current_article.path[/\d+/].to_i + 1 } %>
            <li>Next Article: <a href="/<%= next_article.path[/\d+/].to_i %>-<%= next_article.slug %>.html"><%= next_article.title %></a></li>
          <% end %>
          <% if previous_article = page_articles.find{ |a| a.path[/\d+/].to_i == current_article.path[/\d+/].to_i - 1 } %>
            <li>Previous Article: <a href="/<%= previous_article.path[/\d+/].to_i %>-<%= previous_article.slug %>.html"><%= previous_article.title %></a></li>
          <% end %>
        </ul>
      </article>

      <footer>
        <div class="footer-right">
          On <a href="/">Idiosyncratic Ruby</a> by <a href="https://janlelis.com">Jan Lelis</a><br>
          <%= get_contributors(__FILE__, current_article.path) %>
          <a href="https://janlelis.com/data-protection.html">Data Protection</a>
        </div>
        About <%= current_article.tags.map{ |e| e.capitalize }.join(", ") %><br>
        Last Update: <%= ( Date.parse(`git log -1 --format=%cd -- #{__dir__ + "/../#{current_article.path}"}.md`) rescue current_article.date ).strftime("%B %d, %Y") %>
      </footer>
    </div>
    <%= javascript_include_tag "rainbow-custom.min" %>
  </body>
</html>