---
title: "Idiosyncratic Ruby: Documenting All Ruby Specialities"
---

<% last_content_update = Date.parse(`git log -1 --format=%cd -- source/posts`).strftime("%Y-%m-%d") rescue nil %>

<div class="hero">
  <div class="hero-inner">
    <a href="/index/" class="hero-logo"><img src="/images/idiosyncratic.png" alt="Idiosyncratic Ruby"></a>
    <div class="hero-copy">
      <h1>Idiosyncratic Ruby</h1>
      <p>Documenting All<br/>Ruby Specialities</p>
    </div>
    <form action="/index/">
      <button>Read</button>
    </form>
  </div>
</div>

<div class="world">
  <div class="scroll-on-page start-page">
    <aside id="scroll-on-page-top">
      <% page_articles.sort_by{ |a| a.path.to_i }.each do |article| %>
        <a class="scroll-on-page-link" href="/<%= article.path[/\d+/].to_i %>-<%= article.slug %>.html"><%= article.title %> | <%= article.path[/\d+/].to_i %></a>
      <% end %>
    </aside>

    <article>
      <section>
        <h3 id="about">About Idiosyncratic Ruby</h3>
        <p>
          Ruby is not only optimized for <a href="/31-roots-of-rubyism.html">developer happiness</a>, but also for writing <a href="/27-golfing-basics.html">concise</a> <a href="/17-stream-editing.html">one-liners</a>. The language is extremely expressive, but this comes at a price: Ruby's grammar definition is <a href="https://raw.githubusercontent.com/ruby/ruby/trunk/parse.y">more than 10000 lines long</a>, the language is <a href="/29-limitations-of-language.html">at its limits</a>, and there is not one editor or syntax highlighter <a href="/1-test-highlights.html">that actually highlights Ruby correctly</a>.
        </p>
      </section>
      <section>
        <h3 id="idiosyncratic-does-not-mean-bad">Idiosyncratic != Bad</h3>
        <p>
          Ruby is a great tool (<a href="https://imagery.pragprog.com/products/355/ruby4.jpg">a pickaxe?</a>) and it is better to know your tools well. You should know <a href="/25-meta-methodology.html">Ruby's meta programming API for methods</a>, although it is not optimal. It is also good to know about <a href="/14-meeting-some-locals.html">unusual ways of creating local variables</a>. Having a good understanding of Ruby's low level and its edge cases helps you to concentrate on solving the real problems. It also helps <a href="/18-con-struct-attributes.html">shaping new best practices</a>. And it is <a href="/48-ruby-tricks-of-2015.html">fun</a>.
        </p>
      </section>
      <section>
        <h3 id="what-you-will-get">What You Will Get</h3>
        <ul>
          <li>Learn how to impress your co-workers with obscure Ruby tricks<br>
          For example: <a href="/11-regular-extremism.html">Advanced regex magic</a></li>
          <li>Get a lot of tables comparing things and telling you what to use<br>
          For example: <a href="/20-better-standards.html">A comprehensive overview of Ruby's standard library</a></li>
          <li>Learn about lesser-known Ruby command-line options<br>
          For example: <a href="/22-literate-ruby.html">An option to remove garbage</a></li>
          <li>Master Ruby's less common grammar features<br>
          For example: <a href="/15-207-ways-to-rome.html">All 210 different syntaxes to create strings in Ruby</a></li>
        </ul>
      </section>
      <section>
        <h3 id="ruby-moves-on">Ruby Moves On</h3>
        <p>
          The aim of <em>Idiosyncratic Ruby</em> is to document lesser-known features of Ruby as a series of blog posts. All the content is on <a href="https://github.com/janlelis/idiosyncratic-ruby.com">GitHub</a>, enabling it to live beyond its publish date.
        </p>
        <p>The articles were published in two batches:</p>
        <ul>
          <li>Episodes  1 to 31 in May 2015</li>
          <li>Episodes 32 to 62 in May 2016</li>
        </ul>
        <% if last_content_update %>
        <p>Last update to an article: <%= last_content_update %> </p>
        <% end %>
      </section>
      <section>
        <h3 id="related-projects">Related Projects</h3>
        <ul>
          <li><a href="https://stdgems.org">stdgems.org</a>: Documentation of standard library gems</li>
          <li><a href="http://relaxed.ruby.style">relaxed.ruby.style</a>: A ruby style guide patch for RuboCop</li>
        </ul>
      </section>
      <section>
        <h3 id="about-jan">About Jan</h3>
        <p><a href="https://janlelis.com">Jan Lelis</a> is a freelance developer and he is ruining his Ruby style since late 2009. Back then, he was very unhappy with the IRB command-line experience. That is why he ended up writing the <a href="http://irb.tools">Irbtools</a> gem, which makes using IRB more enjoyable.</p>

        <p>He also micro-blogs on <a href="https://twitter.com/JanLelis">twitter.com</a> about Ruby, JavaScript, and new web technology.</p>
      </section>
      <%= partial 'layouts/social_footer' %>
    </article>
  </div>
</div>

<a href="https://github.com/janlelis/idiosyncratic-ruby.com/tree/master/source/posts/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/forkme.png" alt="Fork me on GitHub"></a>
