---
title: Idiosyncratic Ruby
---

<div class="hero">
  <div class="hero-inner">
    <a href="/index/" class="hero-logo"><img src="/images/idiosyncratic.png" alt="Idiosyncratic Ruby"></a>
    <div class="hero-copy">
      <h1>Idiosyncratic Ruby</h1>
      <p>A 31 Parts Story about Ruby Specialities.<br/>A New Post Every Day in May 2015!</p>
    </div>
    <form action="/index/">
      <button>Read</button>
    </form>
  </div>
</div>

<div class="world">
  <div class="scroll-on-page">
    <aside id="scroll-on-page-top">
      <% page_articles.sort_by{ |a| a.path.to_i }.each do |article| %>
        <a class="scroll-on-page-link" href="/<%= article.path[/\d+/].to_i %>-<%= article.slug %>.html"><%= article.title %> | <%= article.path[/\d+/].to_i %></a>
      <% end %>
    </aside>

    <article>
      <section>
        <h3 id="about">About Idiosyncratic Ruby</h3>
        <p>Ruby is not only optimized for developer happiness, but also for writing one-liners and it is still one of the <a href="http://golf.shinh.org/lranking.rb">top choices for code golfers</a>. Ruby's grammar definition is <a href="https://raw.githubusercontent.com/ruby/ruby/trunk/parse.y">more than 10000 lines long</a> and there is no editor or syntax highlighter that actually highlights Ruby correctly. A lot of them already fail at highlighting strings not created with the usual quotes syntax, but with one of the more than 100 other ways. But:</p>

        <p>IDIOSYNCRATIC != BAD</p>
      </section>
      <section>
        <h3 id="what-you-will-get">What You Will Get</h3>
        <ul>
          <li>Learn how to impress your co-workers with obscure Ruby tricks</li>
          <li>Learn about lesser-known Ruby command-line options</li>
          <li>Get a lot of tables comparing things and tell you what to use</li>
          <li>Master Ruby's less common grammar features</li>
        </ul>
      </section>
      <section>
        <h3 id="living-content">Living Content</h3>
        <p>
          <em>Idiosyncratic Ruby</em> is a series of blog posts. All the content is on <a href="https://github.com/janlelis/idiosyncratic-ruby.com">GitHub</a>, and although all posts will be published in May 2015, the content is meant to live further.
        </p>
      </section>
      <section>
        <h3 id="about-the-author">About the Author</h3>
        <p><a href="http://janlelis.com">Jan Lelis</a> is a freelance developer and he is ruining his Ruby style since late 2009. Back then, he was very unhappy with the IRB command-line experience, so he ended up writing the <a href="http://irb.tools">Irbtools</a> gem, which makes using IRB more enjoyable.</p>

        <p>Occasionally, he <a href="http://ruby.janlelis.de">writes down his Ruby experiences</a> and he micro-blogs on <a href="https://twitter.com/JanLelis">twitter.com</a>, not only about Ruby, but also about JavaScript and full-stack topics, for example, AngularJS and WebRTC.</p>
      </section>

      <%= partial 'layouts/social_footer' %>
    </article>
  </div>
</div>

<a href="https://github.com/janlelis/idiosyncratic-ruby.com/tree/master/source/posts/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>